# CNV deletion and duplication

## fisher on desktop
```
sos run workflow/20190717_workflow.ipynb fisher \
    --name fisher \
    --cwd output/deldup/ \
    --genotype-file data/del_dup.X.colnames.gz \
    --phenotype-file data/del_dup.y.no_colrownames.gz
```

## whole genome varbvs on desktop
```
sos run workflow/20190717_workflow.ipynb varbvs_wg \
    --name varbvs_wg \
    --cwd output/deldup/ \
    --genotype-file data/del_dup.X.colnames.gz \
    --phenotype-file data/del_dup.y.no_colrownames.gz \
    -s build
```

## SuSiE on desktop
```
sos run workflow/20190717_workflow.ipynb susie \
    --name susie \
    --cwd output/deldup/ \
    --genotype-file data/del_dup.X.colnames.gz \
    --phenotype-file data/del_dup.y.no_colrownames.gz \
    --hyperparam_file output/deldup/del_dup.X.varbvs_wg.hyperparams \
    -s build
```

## sier
```
cd /home/gaow/GIT/github/cnv-gene-mapping
JOB_OPT="-q midway2 -c midway2.yml"
sos run workflow/20190717_workflow.ipynb sier \
    --name sier \
    --cwd output/deldup/ \
    --genotype-file data/del_dup.X.colnames.gz \
    --phenotype-file data/del_dup.y.no_colrownames.gz \
    --job_size 5 -s build \
    $JOB_OPT
```

## CNV deletion

```
sos run workflow/20190717_workflow.ipynb fisher \
    --name fisher \
    --cwd output/delcnv/ \
    --genotype-file data/deletion.X.colnames.gz \
    --phenotype-file data/deletion.y.no_colrownames.gz
```

```
sos run workflow/20190717_workflow.ipynb varbvs_wg \
    --name varbvs_wg \
    --cwd output/delcnv/ \
    --genotype-file data/deletion.X.colnames.gz \
    --phenotype-file data/deletion.y.no_colrownames.gz \
    -s build
```

In [1]:
import pandas as pd

In [2]:
fisher = pd.read_csv("~/GIT/cnv-gene-mapping/output/deldup/del_dup.X.colnames.cleaned.fisher.gz", sep = "\t", header = 0)

In [3]:
min(fisher["p"])

0.0008750675664667869

In [4]:
fisher[fisher["p"] == min(fisher["p"])]

        gene  d_c  d_nc  nd_c  nd_nc         p
0       DLG1    9  2760     0   3281  0.000875
1  LINC02012    9  2760     0   3281  0.000875
2       BDH1    9  2760     0   3281  0.000875

In [6]:
fisher.head(10)

               gene  d_c  d_nc  nd_c  nd_nc         p
0              DLG1    9  2760     0   3281  0.000875
1         LINC02012    9  2760     0   3281  0.000875
2              BDH1    9  2760     0   3281  0.000875
3           TM4SF19    8  2761     0   3281  0.001915
4           MIR4797    8  2761     0   3281  0.001915
5          DLG1-AS1    8  2761     0   3281  0.001915
6             UBXN7    8  2761     0   3281  0.001915
7  TM4SF19-TCTEX1D2    8  2761     0   3281  0.001915
8            MBD3L2   11  2758    34   3247  0.003999
9         MBD3L2B@2   11  2758    34   3247  0.003999

In [11]:
susie = pd.read_csv("~/GIT/cnv-gene-mapping/output/deldup/del_dup.y.susie_pip.gz", sep = "\t", header = None, names = ["gene", "pip"])

In [14]:
max(susie["pip"])

0.167049265104182