# 3 genes 2 effects results

In [29]:
import pickle
import pandas as pd, numpy as np

In [6]:
dat1 = pickle.load(open("/home/min/Downloads/PyMC3_3genes_2effects.pkl", "rb"))

In [34]:
np.median(dat1["beta"][:,1])

1.315247847991861

In [26]:
beta = pd.DataFrame(dat1["beta"], columns = ["b1", "b2", "b3"])

In [27]:
beta

             b1        b2        b3
0     -0.363039  2.336589  1.210995
1      1.842726  2.130128 -0.125892
2      1.018826  2.342469  1.182769
3      0.573473  2.274619  0.574583
4      0.436816  3.048232  1.128408
...         ...       ...       ...
99995 -0.119125  1.133798  2.793341
99996  2.430895  1.924242  2.891037
99997 -0.660604  0.516446  1.741013
99998  0.164632  0.116898  1.958065
99999  1.300677  1.759574  2.122592

[100000 rows x 3 columns]