# Regional PIP of logit

In [ ]:
import numpy as np, pandas as pd
import os
from dsc.dsc_io import load_rds
cwd = os.path.expanduser("/home/min/GIT/cnv-gene-mapping/data/deletion_simu_30_shape0.777_scale0.843")

In [2]:
pips = load_rds(f"{cwd}/deletion.genes.block30.for_simu.binomial.whole.genome.prior.varbvs.updateb0.rds")["pip"]

In [3]:
len(pips)

22356

In [4]:
index = pd.read_csv(f"{cwd}/deletion.genes.block30.for_simu.sample.combined.block1.index.csv", sep = "\t", header = None, names = ["start", "end"])

In [5]:
index2 = pd.read_csv(f"{cwd}/deletion.genes.block30.for_simu.sample.combined.block1.forsimu.index.csv", sep = "\t", header = None, names = ["start", "end"])

In [6]:
pips_block = list()
for idx, item in index2.iterrows():
     pips_block.append(sum(pips[item[0]:item[1]+1]))

In [7]:
index["sumpip"] = pips_block

In [8]:
index["sumpip2"] = index.apply(lambda x: 1 if x["sumpip"] > 1 else x["sumpip"], axis = 1)

In [9]:
index.head()

   start  end    sumpip   sumpip2
0      0    7  0.120292  0.120292
1      8   17  0.150364  0.150364
2     18   22  0.123744  0.123744
3     23   36  0.699548  0.699548
4     37   44  0.101835  0.101835

In [10]:
index.shape

(528, 4)

In [11]:
logit = pd.read_csv(f"{cwd}/deletion.genes.block30.for_simu.sample.combined.genes.logit.all.blocks.pip.csv", header = None, names = ["pip"])

In [12]:
logit.shape

(2290, 1)

## logit PIP multiply by regional PIP (max 1) in whole genome varbvs

In [17]:
multiplier = [[item[3]]*int(item[1]-item[0]+1) for idx, item in index.iterrows()]

In [14]:
multiplier = [i for x in multiplier for i in x]

In [15]:
logit["multiplier"] = multiplier

In [22]:
logit["pip2"] = logit["pip"] * logit["multiplier"]

In [98]:
logit[["pip2"]].to_csv(f"{cwd}/deletion.genes.block30.for_simu.sample.combined.genes.logit.all.blocks.pip.regional.csv", sep = "\t", header = False, index = False)

## logit PIP multiply by regional PIP (no max) in whole genome varbvs

In [18]:
multiplier2 = [[item[2]]*int(item[1]-item[0]+1) for idx, item in index.iterrows()]

In [19]:
multiplier2 = [i for x in multiplier2 for i in x]

In [20]:
logit["multiplier2"] = multiplier2

In [24]:
logit["pip3"] = logit["pip"] * logit["multiplier2"]

In [29]:
logit["pip3"] = logit.apply(lambda x: 1 if x["pip3"] > 1 else x["pip3"], axis = 1)

In [31]:
logit.head()

     pip  multiplier  multiplier2      pip2      pip3
0  0.125    0.120292     0.120292  0.015036  0.015036
1  0.125    0.120292     0.120292  0.015036  0.015036
2  0.125    0.120292     0.120292  0.015036  0.015036
3  0.125    0.120292     0.120292  0.015036  0.015036
4  0.125    0.120292     0.120292  0.015036  0.015036

In [32]:
logit.tail()

           pip  multiplier  multiplier2      pip2      pip3
2285  0.008967    0.930453     0.930453  0.008343  0.008343
2286  0.059251    0.930453     0.930453  0.055131  0.055131
2287  0.059251    0.930453     0.930453  0.055131  0.055131
2288  0.059251    0.930453     0.930453  0.055131  0.055131
2289  0.059251    0.930453     0.930453  0.055131  0.055131

In [33]:
logit[["pip3"]].to_csv(f"{cwd}/deletion.genes.block30.for_simu.sample.combined.genes.logit.all.blocks.pip.regional.notruncated.csv", sep = "\t", header = False, index = False)